<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
		<title>MVC With Burgers!!</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/assets/js/burgers.js"></script>
	</head>
	<body style="background-color: #FFFF00">
		<div class="container">
        <div class="row">
            <div class="col-12">
                <div class="burger">
                    <img class="img-fluid rounded mx-auto d-block" src="/assets/burger.jpg" width="200px" height="200px" margin="40px 0 0 0">
                    <br>
                    <br>
                    <h1 style="text-align: center">Eat A Burger</h1>
                </div>
            </div>
		
			


        </div>

		{{{ body }}}
	</body>
</html>
