<div class="row">
  <div class="col-6">
    <h2>Burgers to eat</h2>
    <!--ul>
      {{#each burgers}} {{#unless devoured}} {{> burgers/burger-block devoured=true}} {{/unless}} {{/each}}
    </ul-->
    <ul>
      {{#each burgers}} {{#unless devoured}}
      <li>
        <p> {{this.id}} {{this.name}} {{> burgers/burger-block devoured=true}}</p>
      </li>
      {{/unless}} {{/each}}
    </ul>

  </div>
  <div class="col-6">
    <h2></h2>
    <ul>
      {{#each burgers}} {{#if devoured}} 
        <li>
        <p> {{this.name}} {{> burgers/burger-block devoured=false}}</p>
      </li>
      {{/if}} {{/each}}
    </ul>
  </div>
</div>

<div id="container" class="container">
  <div class="row">
    <div class="col-sm-10 offset-sm-1 text-center">
      <h1>Add a Burger</h1>
      <div class="info-form">
        <form class="form-inline justify-content-center create-form">
          <div class="form-group">
            <label for="burger">Burger Name: </label>
            <input type="text" id="burger" name="name">
          </div>
          <button type="submit">Add Burger</button>
        </form>
      </div>
    </div>
  </div>
</div>